node_modules
.env
*.log

# Mac OS
.DS_Store

# Bundle
lib/
es/

# Typescript build file
*.tsbuildinfo

# Typescript test file
*.test.js
*.test.d.ts
*.test.js.map
 

# Tests
.coverage
test/types/**/*.jsx
test/types/**/*.js

/jsx-runtime.d.ts
/jsx-dev-runtime.d.ts
/jsx-scope.d.ts
/index.js